.button {
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  transition: background-color 0.3s;
}

.button:hover {
  color: white;
  background-color: gray; /* ホバー時の背景色 */
}
