.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 縦方向の中央揃え */
  align-items: center;     /* 横方向の中央揃え */
  height: 100vh;           /* 画面の高さを100%に設定 */
  position: relative;      /* 背景画像のz-indexのためにpositionを設定 */
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;  /* backgroundより前面に配置 */
}

.title {
  /* font-family: 'Lobster', cursive; */
  font-size: 4rem;
  color: black;
  margin-bottom: 1rem;
}

.startButton {
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  transition: background-color 0.3s;
}
