.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 縦方向の中央揃え */
  align-items: center;     /* 横方向の中央揃え */
  height: 100vh;           /* 画面の高さを100%に設定 */
  position: relative;      /* 背景画像のz-indexのためにpositionを設定 */
}

.title{
  margin-bottom: 20px;
}

.buttonSpace {
  margin-top: 20px;
}